.navbar, .desktop-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navbar {
    top: 0;
    position: fixed;
    font-family: var(--text-font);
}

.desktop-nav {
    list-style: none;
    flex-direction: row;
    font-size: 1.25em;
}

.desktop-navbar-links, .menu {
    cursor: pointer;
    padding: 0 1em;
}

.desktop-navbar-links:hover, .menu:hover {
    text-decoration: underline 0.08em black;
}

@media (max-width: 600px) {
    .menu {
        font-size: 1.25em;
        margin: 1em 0;
    }
}