.navbar, .desktop-nav {
    display: flex;
}

.navbar {
    width: 100%;
    position: fixed;
    justify-content: flex-end;
    font-family: var(--text-font);
}

.desktop-nav {
    list-style: none;
    flex-direction: row;
    font-size: 1.25em;
}

.desktop-navbar-links {
    cursor: pointer;
    padding: 0 1em;
}

.desktop-navbar-links:hover {
    text-decoration: underline 0.08em black;
}